@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Vars

$bg--violet: hsl(273, 75%, 66%);
$bg--blue: hsl(240, 73%, 65%);

$txt--darkblue: hsl(237, 12%, 33%);
$txt-blue: hsl(240, 6%, 50%);

$div--blue: hsl(240, 5%, 91%);

$fnt--kumbh: 'Kumbh Sans', sans-serif;
$fw--thin: 400;
$fw--wide: 700;

$tns--main: 0.3s ease-out;

$br--laptop: 1024px;

// Mixins

@mixin mq {
    @media (min-width: $br--laptop) {
        @content;
    }
}


// Setup & Reset

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-family: $fnt--kumbh;
    font-weight: $fw--thin;
}

// Text Style

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

// Block Style

body {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, $bg--violet, $bg--blue)
}

#card {
    position: relative;

    width: 100%;
    height: auto;
    
    margin: 12rem 2rem 5rem;
    padding: 8rem 4rem 2rem;

    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 16px 48px 0 #438; 

    transition: $tns--main;
} 

.img--div {
    width: auto;
    position: absolute;
    left: 50%;
    top: -108px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img {
    &:last-of-type {
        transform: translateY(-75%);
    } 
}

#acc--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acc--box {
    width: 100%;
    
    margin: 1rem auto;
    padding: 1rem 0;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    transition: $tns--main;
    &.active {
        .acc--content {
            max-height: 6rem;
        }
        .acc--label {
            font-weight: $fw--wide;
        }
        i {
            transform: rotate(0deg);
        }
    }
}

.acc--label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    font-weight: $fw--thin;
    
    transition: $tns--main;

    .acc--box:hover & {
        color: orange;
    }
}

.acc--content {

    height: 100%;
    max-height: 0px;
    line-height: 1.2;

    overflow: hidden;

    transition: $tns--main;
}

i {
    color: orange;
    transform: rotate(180deg);
    transition: $tns--main;
}



// Hide other breakpoint img

.hide {
    &--desktop {
        display: none;
        @include mq {  display: flex; }
    }

    &--mobile {
        display: flex;
        @include mq { display: none; }
    }
}


// Attribution
.attribution { 
    font-size: 11px; 
    color: white;
    text-align: center; 
    margin-bottom: 2rem;
}
.attribution a {
    color: hsl(228, 45%, 75%); 
}
