@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Vars

$bg--violet: hsl(273, 75%, 66%);
$bg--blue: hsl(240, 73%, 65%);

$txt--darkblue: hsl(237, 12%, 33%);
$txt--blue: hsl(240, 6%, 50%);

$div--blue: hsl(240, 5%, 91%);

$fnt--kumbh: 'Kumbh Sans', sans-serif;
$fw--thin: 400;
$fw--wide: 700;

$tns--main: 0.3s ease-out;

$br--laptop: 1024px;

// Mixins

@mixin mq {
    @media (min-width: $br--laptop) {
        @content;
    }
}


// Setup & Reset

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: auto;

    font-size: 12px;
    font-family: $fnt--kumbh;
    font-weight: $fw--thin;
}

// Text Style

h1 {
    text-align: center;
    font-size: 2.6rem;

    margin: 2rem 0 1rem;
    
    @include mq {
        text-align: left;
    }
}

// Block Style

body {
    padding: 0 2rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: linear-gradient(to bottom, $bg--violet, $bg--blue);
    background-size: cover;
    background-repeat: no-repeat;

    @include mq {
        padding: 0 0 auto;
    }
}


#wrapper {
    width: 100%;
    height: 100%;
    padding: 9rem 2rem 4rem;
    
    @include mq {
        padding: 4rem 6rem 9rem 50%;
        overflow: hidden;
    }
}

#card {
    position: relative;

    width: 100%;
    max-width: 900px;
    height: auto;
    
    margin: 12rem 2rem 5rem;

    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 16px 48px 0 #438; 

    transition: $tns--main;

    @include mq {
        width: 900px;
    }
} 

.img--div {    
    width: auto;
    max-height: 400px;
    //todo: figure out how to do this without setting max-height
    
    position: absolute;
    left: 50%;
    top: -9rem;
    transform: translateX(-55%);
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @include mq {
        width: 50%;
        left: 12.5rem;
        top: 6rem;
        
        //dirty fix for the clipping
        img:not(:first-child) { 
            clip-path: polygon(17.25% 0%, 100% 0, 100% 100%, 17.25% 100%); 
        }    
    }
}

img {
    @include mq {
        width: 95%;

        z-index: 1;
        
        &:first-of-type {
            width: 37.5%;
            position: absolute;
            left: 3%;
            top: 10.5rem;
        
            z-index: 2;
        }
        
        &:last-of-type {
            transform: translateY(-77%);
        
            z-index: 0;
        }
    }
    &:last-of-type {
        transform: translateY(-85%);
    } 
}

#acc--container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq {
        justify-content: flex-start;
    }
}

.acc--box {
    width: 100%;
    
    padding: 1.5rem 0;
    border-bottom: 1px solid #DDD;

    cursor: pointer;
    transition: $tns--main;
    
    &.active {
        .acc--content {
            max-height: 6rem;
        }
        .acc--label {
            color: $txt--darkblue;
            font-weight: $fw--wide;

            padding-bottom: 1rem;
            
        }
        i {
            transform: rotate(0deg);
        }
    }
}

.acc--label {
    display: flex;
    justify-content: space-between;

    color: $txt--blue;
    font-size: 1.1rem;
    font-weight: $fw--thin;
    
    transition: $tns--main;
    
    @include mq {
        font-size: 1.1rem;
        
        .acc--box:hover & {
            color: orange;
        }
    }
}

.acc--content {
    height: 100%;
    max-height: 0px;
    padding: 0 2rem 0 0;

    color: $txt--blue;
    line-height: 1.5;
    overflow: hidden;

    transition: $tns--main;

    @include mq {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

i {
    color: orange;
    
    transform: rotate(-180deg);
    transition: $tns--main;
}



// Hide other breakpoint img

.hide {
    &--desktop {
        display: none;
        @include mq {  display: flex; }
    }

    &--mobile {
        display: flex;
        @include mq { display: none; }
    }
}


// Attribution
.attribution { 
    font-size: 11px; 
    color: white;
    text-align: center; 
    margin-bottom: 2rem;
}
.attribution a {
    color: hsl(228, 45%, 75%); 
}
